<html>

<head>
  <meta charset="utf-8">
  <title>index page node5
  </title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<header>
  <h1>IW-13A-126 09 田中俊</h1>
  <a href="/">/(root)</a>
  <a href="/page1">Page1</a>
  <a href="/page2/002">Page2/002</a>
</header>

<body>
  headerここまで