<%- include('partials/header.ejs'); %> index4-5.html<br />

<form action="/" method="get">
  <label>get</label>
  <input type="text" name="text_get" />
  <button type="submit">get send</button>
</form>
<form action="/" method="post">
  <label>post</label>
  <input type="text" name="text_post" />
  <button type="submit">post send</button>
</form>

<% for (var i = 0; i < 10; i++) { %>
<p>このループは<%= i+1 %>回目です。</p>
<% } %>

<p>画面表示回数は<%= cnt %>回です</p>

<%- include('partials/footer.ejs'); %>
