<%- include('partials/header.ejs') %>
  <h1>node4 Hello index.html Page</h1>

  <hr />
  <% if (typeof users==='object' ){ %>
    <%- include('module/_table', {users: users}) %>
      <% }else{ %>
        <%= users %>
          <% } %>
            <%- include('partials/footer.ejs') %>