<%- include('partials/header.ejs'); %>
  <h1>node4 Hello page1.ejs Page</h1>
  <div>
    <label for="textvalue">ユーザーメンテナンス（非同期通信）</label><br>
    <input type="text" name="name" id="textvalue" />
  </div>
  <button type="submit" onclick="getData()">取得（GET）</button>
  <button type="submit" onclick="postData()">登録（POST）</button>
  <button type="submit" onclick="putData()">更新（PUT）</button>
  <button type="submit" onclick="deleteData()">削除（DELETE）</button>

  <div id="output"></div>

  <%- include('partials/footer.ejs'); %>